/*
* Hi
* Im Max. :waving_hand:
*
* I'm a Java Backend Developer and made this wonderful website.
*
* Wait what? You don't like it?
* ...
* Okay...Why's that?
*
* You think everything looks horrible?
*/



body {
 background-color: #1a1c24;
 color: #abb2bf;
}

/*
* Better now?
*
* No?
*
* Okay. Then lets start from scratch again.
* Let me fire up an editor real quick.
*
* Give me a second to fire up an editor real quick.
*/

body {
 font-family: 'Fira Mono', monospace;
 margin: 0px;
 overflow: hidden;
}

#editor {
 background-color: #282c34;
 flex: 9 1 0px;
 box-sizing: border-box;
 overflow: auto;
 float: right;
 margin: 5px 5px 5px 5px;
 padding: 5px 0px 0px 10px;
}

#fileSystem {
 background-color: #282c34;
 flex: 2 1 0px;
 overflow: auto;
 margin: 5px 0px 5px 5px;
 padding: 5px 0px 0px 10px;
}

#terminalDiv {
 background-color: #282c34;
 margin: 0px 5px 5px 5px;
}

#terminalHeader {
 padding: 2px 0px 2px 10px;
 color: #c426b4;
 margin: 0px 0px 0px 0px;
}

#terminal {
 flex: 2 1 0px;
 overflow: auto;
 margin: 0px 0px 0px 0px;
 padding: 2px 0px 5px 10px;
 height: 20%;
}

#fileSystemAndEditorDiv {
 flex: 2 1 0px;
}

.comment { color: #5c6370; }
.value { color: #56b6c2; }
.class { color: #de6d77; }

#editorHeader {
 padding: 2px 0px 2px 10px;
 color: #c426b4;
 margin: 0px 0px 0px 0px;
}

#about-me, #about-my-work {
 border-color: #4CAF50;
 color: green;
}

.btn {
 border: 2px solid #abb2bf;
 background-color: #282c34;
 color: #abb2bf;
 padding: 14px 28px;
 font-size: 1em;
 cursor: pointer;
 margin: 10px 10px 10px 0px;
}

.btn:hover {
 background-color: #abb2bf;
 color: #282c34;
}

.btn:focus {
 outline: none;
}
